.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.App-header {
  padding: 50px;
}

.titulo {
  font-size: 3rem;
  margin: 0;
  color: red;
}

.subtitulo {
  font-size: 1.5rem;
  margin-top: 10px;
}

.carrossel {
  margin: 20px 0;
}

.carrossel-imagem {
  max-width: 500px; /* Aumentando o tamanho máximo para 400px */
  margin: 0 auto;
  border-radius: 10px; /* Bordas arredondadas */
  transition: transform 0.5s ease; /* Transição suave */
  opacity: 0.7; /* Um pouco de transparência */
}

.carrossel-imagem {
  width: 1200px; /* Largura fixa */
  height: 500px; /* Altura fixa */
  object-fit: cover; /* Imagem cobrirá o espaço sem distorção */
}

/* Para as imagens da esquerda e direita */
.carousel-item-next .carrossel-imagem,
.carousel-item-prev .carrossel-imagem {
  opacity: 0.5; /* Menos visibilidade para imagens não ativas */
  transform: scale(0.8); /* Aumentando um pouco a escala para 0.8 */
}

.carousel-item.active .carrossel-imagem {
  opacity: 1; /* Imagem ativa com 100% de visibilidade */
  transform: scale(1); /* A imagem do meio vai ter tamanho normal */
}

.historia {
  margin: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}



.dias-totais {
  margin-top: 20px;
  text-align: center;
}

.dias-texto {
  font-size: 0.8rem; /* Fonte menor para o contador de dias totais */
  color: red;
}







.botao-amor {
  margin-top: 30px;
}

@keyframes heartAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.heart {
  animation: heartAnimation 1.5s infinite;
}
