.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.App-header {
  padding: 50px;
}

.titulo {
  font-size: 3rem;
  margin: 0;
  color: red;
}

.subtitulo {
  font-size: 1.5rem;
  margin-top: 10px;
}

.carrossel {
  margin: 20px 0;
}

.carrossel-imagem {
  width: 100%; /* A imagem vai ocupar 100% da largura do item */
  max-width: 400px; /* Aumentando o tamanho máximo para 400px */
  margin: 0 auto;
  border-radius: 10px; /* Bordas arredondadas */
  transition: transform 0.5s ease; /* Transição suave */
  opacity: 0.7; /* Um pouco de transparência */
}

/* Para as imagens da esquerda e direita */
.carousel-item-next .carrossel-imagem,
.carousel-item-prev .carrossel-imagem {
  opacity: 0.5; /* Menos visibilidade para imagens não ativas */
  transform: scale(0.8); /* Aumentando um pouco a escala para 0.8 */
}

.carousel-item.active .carrossel-imagem {
  opacity: 1; /* Imagem ativa com 100% de visibilidade */
  transform: scale(1); /* A imagem do meio vai ter tamanho normal */
}

.historia {
  margin: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.contador {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding: 10px;
  background-color: #111;
  border-radius: 10px;
  gap: 20px; /* Ajustando o espaçamento entre os quadrados */
}

.contador-item {
  background-color: #000;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: white;
  width: 100px; /* Tamanho ajustado para o layout */
  height: 120px; /* Ajustei a altura para que os quadrados fiquem proporcionais */
  display: flex;
  flex-direction: column; /* Organizando número e título em colunas separadas */
  justify-content: center;
  align-items: center;
}

.contador-titulo {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px; /* Espaço reduzido entre título e número */
  font-family: 'Arial', sans-serif;
  color: red; /* Cor do título em vermelho */
}

.contador-valor {
  font-size: 3rem; /* Número maior */
  font-family: 'Digital-7', sans-serif; /* Fonte estilo relógio */
  color: red; /* Cor vermelha */
}

.contador-mensagem {
  margin-top: 20px;
  color: pink;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Efeito de relógio digital */
@font-face {
  font-family: 'Digital-7';
  src: url('https://fonts.googleapis.com/css2?family=Digital+7&display=swap');
}

.dias-totais {
  margin-top: 20px;
  text-align: center;
}

.dias-texto {
  font-size: 0.8rem; /* Fonte menor para o contador de dias totais */
  color: red;
}







.botao-amor {
  margin-top: 30px;
}

@keyframes heartAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.heart {
  animation: heartAnimation 1.5s infinite;
}
